alabaster==0.7.9
appdirs==1.4.0
attrs==17.2.0
Babel==2.3.4
betamax==0.8.0
Cerberus==1.1
click==6.7
colorlog==2.10.0
cookies==2.2.1
docutils==0.13.1
extras==1.0.0
fixtures==3.0.0
ijson==2.3
imagesize==0.7.1
iso8601==0.1.11
Jinja2==2.8
linecache2==1.0.0
MarkupSafe==0.23
mox3==0.20.0
packaging==16.8
pbr==1.10.0
pluggy==0.4.0
py==1.4.32
pyfakefs==3.0
Pygments==2.1.3
pyparsing==2.1.10
pytest==3.0.6
pytest-lazy-fixture==0.3.0
python-mimeparse==1.6.0
pytz==2016.10
pyxdg==0.25
PyYAML==3.12
requests==2.13.0
responses==0.5.1
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.5.1
SQLAlchemy==1.1.5
testtools==2.2.0
tox==2.5.0
traceback2==1.4.0
unittest2==1.1.0
urwid==1.3.1
virtualenv==15.1.0
