{"recorded_with": "betamax/0.8.0", "http_interactions": [{"recorded_at": "2016-12-02T20:13:24", "request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {}, "uri": "http://clientupdate-v6.cursecdn.com/feed/addons/432/v10/complete.json.bz2.txt", "method": "GET"}, "response": {"body": {"encoding": "ISO-8859-1", "string": "1480709045234"}, "status": {"message": "OK", "code": 200}, "headers": {"Content-Type": ["text/plain"], "Last-Modified": ["Fri, 02 Dec 2016 20:04:24 GMT"]}, "url": "http://clientupdate-v6.cursecdn.com/feed/addons/432/v10/complete.json.bz2.txt"}}, [...]
