{"http_interactions": [{"response": {"status": {"message": "OK", "code": 200}, "headers": {"Content-Type": ["text/plain"], "Last-Modified": ["Tue, 03 Jan 2017 21:06:29 GMT"]}, "body": {"encoding": "ISO-8859-1", "base64_string": "MTQ4MzQ3NzU3MDgyMw=="}, "url": "http://clientupdate-v6.cursecdn.com/feed/addons/432/v10/complete.json.bz2.txt"}, "recorded_at": "2017-01-03T21:23:51", "request": {"method": "GET", "headers": {}, "body": {"encoding": "utf-8", "base64_string": ""}, "uri": "http://clientupdate-v6.cursecdn.com/feed/addons/432/v10/complete.json.bz2.txt"}}], "recorded_with": "betamax/0.8.0"}