{"recorded_with": "betamax/0.8.0", "http_interactions": [{"response": {"body": {"encoding": "ISO-8859-1", "string": "1480684077998"}, "headers": {"Last-Modified": ["Fri, 02 Dec 2016 13:08:17 GMT"], "Content-Type": ["text/plain"]}, "url": "http://clientupdate-v6.cursecdn.com/feed/addons/432/v10/complete.json.bz2.txt", "status": {"message": "OK", "code": 200}}, "request": {"method": "GET", "body": {"encoding": "utf-8", "string": ""}, "headers": {}, "uri": "http://clientupdate-v6.cursecdn.com/feed/addons/432/v10/complete.json.bz2.txt"}, "recorded_at": "2016-12-02T13:23:04"}, {"response": {"body": {"encoding": "ISO-8859-1", "string": "1480684077998"}, "headers": {"Last-Modified": ["Fri, 02 Dec 2016 13:08:17 GMT"], "Content-Type": ["text/plain"]}, "url": "http://clientupdate-v6.cursecdn.com/feed/addons/432/v10/complete.json.bz2.txt", "status": {"message": "OK", "code": 200}}, "request": {"method": "GET", "body": {"encoding": "utf-8", "string": ""}, "headers": {}, "uri": "http://clientupdate-v6.cursecdn.com/feed/addons/432/v10/complete.json.bz2[...]
