{"recorded_with": "betamax/0.8.0", "http_interactions": [{"request": {"body": {"string": "", "encoding": "utf-8"}, "uri": "http://clientupdate-v6.cursecdn.com/feed/addons/432/v10/complete.json.bz2.txt", "method": "GET", "headers": {}}, "response": {"body": {"string": "1480590412620", "encoding": "ISO-8859-1"}, "url": "http://clientupdate-v6.cursecdn.com/feed/addons/432/v10/complete.json.bz2.txt", "status": {"code": 200, "message": "OK"}, "headers": {"Content-Type": ["text/plain"], "Last-Modified": ["Thu, 01 Dec 2016 11:07:10 GMT"]}}, "recorded_at": "2016-12-01T12:06:18"}]}